<div class="container-page">
  <div class="container-banner">
    <div class="row" id="row-banner">
      <div class="col-xs-12 col-md-6 title-padding">
        <h1>Pobuddy</h1>
        <h3>Personalised cycle support for you</h3>
        <br>
        <a href="#redirect-to-features" class="button">Learn how</a>
      </div>

      <div class="sign-form col-xs-12 col-md-5">
        <h2 id="title-color">Sign up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn btn-primary", id:"btn-color" %>
          </div>
        <% end %>

        <%= render "devise/shared/links", id:"link-color" %>
      </div>
    </div>
  </div>
 <div class="background-image-template">
    <div id="redirect-to-features" class="background-image-features">
      <div class="subtitle-display margin-bottom col-xs-12 col-md-12">
        <h2>Learn about your cycle with tailor-made health advice</h2>
        <div id="text-highlight">
        </div>
        <div class="cards-display row">
          <div class="card-trip col-xs-12 col-md-3">
              <%= image_tag "speak-bubble-green.png", alt: "alttext" %>
            <div class="card-trip-infos" id="padding-top-card-trip-infos">
              <div>
                <h2 class="card-title-underline">You tell</h2>
                <p>Pobuddy how you feel and what's on your mind</p>
              </div>
            </div>
          </div>

          <div class="card-trip col-xs-12 col-md-3">
            <%= image_tag "analyse-data-green.png", alt: "alttext", id:"img-size" %>
            <div class="card-trip-infos" id="padding-top-card-trip-infos" >
              <div >
                <h2 class="card-title-underline">We analyze</h2>
                <p>Your concerns and wellbeing</p>
              </div>
            </div>
          </div>

          <div class="card-trip col-xs-12 col-md-3">
            <%= image_tag "paper-plane-green.png", alt: "alttext", id:"img-size" %>
            <div class="card-trip-infos" id="padding-top-card-trip-infos">
              <div>
                <h2 class="card-title-underline">We offer</h2>
                <p>Personalised health advice and support</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


