<div id="calendar" class="col-md-12">
  <div class="row">
    <div class="col-md-12 text-center" id="month-indicator">
      <div class="well controls">
        <%= link_to root_path(date: @date - 1.month), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-backward"><-</i>
        <% end %>
        <%= "#{@date.strftime("%B")} #{@date.year}" %>
        <%= link_to  root_path(date: @date + 1.month), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-forward">-></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="calendar-content-days">
      <%= calendar @date, @day_by_date do |date| %>
        <%= date.day %>
        <% if @day_by_date[date] %>
          <% @day_by_date[date].each do |day| %>
            <% if current_user.days.where(date: day.date) && current_user.days.where(date: day.date)[0].bleeding %>
              <%= link_to "+", day_path(day) %>
            <% else %>
              <%= link_to "-", edit_day_path(current_user.days.find_by(date: day.date)) %>
            <% end %>
            <% if day.pain? %>
            <br>
              <i class="fas fa-bolt"></i>
            <% end %>
            <% if day.bad_mood %>
              <i class="fas fa-frown"></i>
            <% end %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div id="symptom-input">
    <%= render 'new' %>
  </div>

</div>
