<div id="calendar" class="col-md-5">
  <div class="row">
    <div class="col-md-12 text-center" id="month-indicator">
      <div class="well controls">
        <%= link_to root_path(date: @date - 1.month), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-backward"></i>
        <% end %>
        <%= "#{@date.strftime("%B")} #{@date.year}" %>
        <%= link_to  root_path(date: @date + 1.month), class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-forward"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="calendar-content-days">
      <%= calendar @date, @day_by_date do |date| %>
        <%= date.day %>
        <% if @day_by_date[date] %>
          <% @day_by_date[date].each do |day| %>
            <!-- Nikos -->
            <%= link_to " details", day_path(day) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="woof-woof">
    <% @days.each do |day| %>
      <ul>Date: <%= day.date %>
        <li>Breast Pain: <%= day.breast_pain %></li>
        <li>Head Pain: <%= day.head_pain %></li>
        <li>Abdominal Pain: <%= day.abdominal_pain %></li>
        <li>Bleeding: <%= day.bleeding %></li>
        <li>Bad Mood: <%= day.bad_mood %></li>
      </ul>
    <% end %>
  </div>
</div>
