<div id="calendar" class="col-md-12">
  <div class="row">
    <div class="col-md-12 text-center" id="month-indicator">
      <div class="well controls">
        <%= link_to root_path(date: @date - 1.month), class: "btn btn-default" do %>
          <i class="fas fa-chevron-circle-left"></i>
        <% end %>
        <%= "#{@date.strftime("%B")} #{@date.year}" %>
        <%= link_to  root_path(date: @date + 1.month), class: "btn btn-default" do %>
          <i class="fas fa-chevron-circle-right"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center" id="calendar-content-days">
      <%= calendar @date, @day_by_date do |date| %>

        <% if @day_by_date[date] %>

          <% @day_by_date[date].each do |day| %>
            <%= link_to date.day, day_path(day, date: date) %>
            <% if day.pain? %>
              <br>
              <i class="fas fa-bolt"></i>
            <% end %>
            <% if day.bad_mood %>
              <i class="fas fa-frown"></i>
            <% end %>
            <br>
          <% end %>
        <% else %>
          <%= link_to root_path(date: date), class: "new-day-link" do %>
          <%= date.day %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
   <br>
</div>
