<h3 class="title-highlight">Tell us how you feel today</h3>

<%= simple_form_for @day do |f| %>
  <%= f.input :usertext, as: :text %>

  <%= f.label :bleeding, label: "Bleeding: 0/5", id:"day_bleeding_label", name: "Bleeding"  %>
  <%= range_field(:day, :bleeding, in: 0..5, value: 0, class: "form-value-slider mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :bad_mood, label: "Bad mood: 0/5", id:"day_bad_mood_label", name: "Bad mood" %>
  <%= range_field(:day, :bad_mood, in: 0..5, value: 0, class: "form-value-slider mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :head_pain, label: "Head pain: 0/5", id:"day_head_pain_label", name: "Head pain" %>
  <%= range_field(:day, :head_pain, in: 0..5, value: 0, class: "form-value-slider mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :abdominal_pain, label: "Abdominal pain: 0/5", id:"day_abdominal_pain_label", name: "Abdominal pain" %>
  <%= range_field(:day, :abdominal_pain, in: 0..5, value: 0, class: "form-value-slider mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :breast_pain, label: "Breast pain: 0/5", id:"day_breast_pain_label", name: "Breast pain" %>
  <%= range_field(:day, :breast_pain, in: 0..5, value: 0, class: "form-value-slider mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.input :date, as: :hidden, input_html: {value: params[:date]} %>
  <%= f.button :submit, "Let us know" ,class: 'btn btn-primary', id:"btn-color-green" %>

<% end %>

