<h3>Tell us how you feel today</h3>
<%= simple_form_for @day do |f| %>
  <%= range_field(:day, :bleeding, in: 1..5, value: 0) %>
  <%= f.label :bleeding %>
  <br>
  <%= range_field(:day, :bad_mood, in: 1..5, value: 0) %>
  <%= f.label :bad_mood %>
  <br>
  <%= range_field(:day, :head_pain, in: 1..5, value: 0) %>
  <%= f.label :head_pain %>
  <br>
  <%= range_field(:day, :abdominal_pain, in: 1..5, value: 0) %>
  <%= f.label :abdominal_pain %>
  <br>
  <%= range_field(:day, :breast_pain, in: 1..5, value: 0) %>
  <%= f.label :breast_pain %>
  <br>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
