<h3 class="title-highlight">Tell me how you are feeling today</h3>
<%= simple_form_for @day do |f| %>

  <%= f.input :usertext, as: :text %>

  <%= f.label :bleeding %>
  <%= range_field(:day, :bleeding, in: 0..5, value: 0, class: "mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :bad_mood %>
  <%= range_field(:day, :bad_mood, in: 0..5, value: 0, class: "mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :head_pain %>
  <%= range_field(:day, :head_pain, in: 0..5, value: 0, class: "mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :abdominal_pain %>
  <%= range_field(:day, :abdominal_pain, in: 0..5, value: 0, class: "mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.label :breast_pain %>
  <%= range_field(:day, :breast_pain, in: 0..5, value: 0, class: "mdl-slider mdl-js-slider is-upgraded") %>
  <br>
  <%= f.button :submit, "Let us know" ,class: 'btn btn-primary', id:"btn-color-green" %>
<% end %>
