<% @days = Day.all %>
<h1>I AM DAYS#INDEX</h1>
<!-- ID name is subject to change, since we might share it between index and show views for the day -->
<!-- first box: info of the day with symptoms, second box: links of the day -->
<div id="calendar">
  <ul><% @days.each do |day| %>
    <li>Date: <%= day.date %></li>
    <li>Breast Pain: <%= day.breast_pain %></li>
    <li>Head Pain: <%= day.head_pain %></li>
    <li>Abdominal Pain: <%= day.abdominal_pain %></li>
    <li>Bleeding: <%= day.bleeding %></li>
    <li>Bad Mood: <%= day.bad_mood %></li>
  <% end %>
  </ul>
</div>
<%= simple_form_for(@day) do |f| %>
    <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"}, as: :hidden%>
    <%= f.input :breast_pain %>
    <%= f.input :head_pain %>
    <%= f.input :abdominal_pain %>
    <%= f.input :bleeding %>
    <%= f.input :bad_mood %>
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
<% end %>


<%#= render 'link_card' %>
