<div class="background-index">
  <div id="card-show" class="half-index">
    <h1>Here are some recommendations for you today</h1>
    <% @advices.each do |advice| %>
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= advice.link.photo_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= advice.link.title %></h5>
          <p class="card-text">Category: <%= advice.link.category %></p>
          <a href="<%= advice.link.url %>" class="btn btn-primary" target="_blank">Read more</a>
        </div>
      </div>
    <% end %>
  </div>

  <div id= "calendar-index" class="half-index">
    <div class="calendar">
      <%= render 'days/calendar' %>
    </div>
    <div class="symptom-input">
      <%= render 'new' %>
    </div>
  </div>
</div>






