<div class="background-index">
  <a name="up"></a>
  <div id="advices-show" class=" container-show">
    <h3 class="show-title"> Thank you for trusting me with your feelings!</h3>
    <div id="emotion-advice">
      <h3 class="title-highlight">Well, I can feel that you are angry today.Here you can find some advices to deal with your anger :</h3><span id="dots">...</span>
      <span id="more">
        <ul>
        <li>Blow some steam with physical exercise ! (Runing, jumping, dancing.. anything that feels good !)</li>
        <br>
        <li>Take a time out. (it’s the occasion to reconnect with yourself, maybe with a little bit of meditation)</li>
        <br>
        <li>Take deep breaths.Your heart rate is increases, your muscles tense up.Deep breathing is one of the best ways to relax when in a tense moment.</li>
        <br>
        <li>Identify possible solutions. (instead of focusing on what made yu mad, work on resolving the issue at hand)</li>
        <br>
        <li>Sleep (a lake of rest influe on your nerves.  Turn off your phone, lie down and take a nap !)</li>
        </ul>
      </span>
      <button onclick="myFunction()" id="myBtn">Read more</button>
    </div>
    <div class=“arrow-down bounce explanation-arrow”>
     <a href="#card" id="down-arrow"><i class="fas fa-chevron-down" > </i>
     </a>
    </div>


    <a name="card"></a>
    <h3 class="show-title">Here are some articles that may interest you</h3>
    <div class="card-wrap ">
    <% @advices.each do |advice| %>
      <div class="card card-show">
        <img class="card-img-top" src="<%= advice.link.photo_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= advice.link.title %></h5>
          <p class="card-text">Category: <%= advice.link.category %></p>
          <a href="<%= advice.link.url %>" class="btn btn-primary" target="_blank">Read more</a>
        </div>
      </div>
    <% end %>
   </div>
    <div class=“arrow-down bounce explanation-arrow”>
     <a href="#calendar" id="down-arrow"><i class="fas fa-chevron-down" > </i>
     </a>
    </div>

    <a name="calendar"></a>
    <h3 class="show-title">Your calendar</h3>
    <div id= "calendar-show" class="col-8 offset-2">
      <%= render 'days/calendar' %>
      <div id="woof-woof" class="col-3 offset-3">
       <% if @day.valid? %>
       <h3 class="title-highlight">Date: <%= @day.date %></h3>
        <p>Breast Pain: <%= @day.breast_pain %></p>
        <p>Head Pain: <%= @day.head_pain %></p>
        <p style="padding-left: 20px">Abdominal Pain: <%= @day.abdominal_pain %></p>
        <p>Bleeding: <%= @day.bleeding %></p>
        <p>Bad Mood: <%= @day.bad_mood %></p>
        <btn id="destroy-data"><%= link_to "Delete data for this day", day_path(@day), method: :delete, :style=>'background-color: #5B8E7D;''border-radius: 5px;''text-decoration: none;''color: white;''border-color: black;''border-width: 1px;''padding: 5px;' %></btn>
        <% end %>
      </div>
    </div>
    <div class=“arrow-down bounce explanation-arrow”>
     <a href="#up" id="down-arrow"><i class="fas fa-chevron-up"></i>
     </a>
    </div>
  </div>
</div>
