<div class="background-index">
  <h1>Here are some recommendations for you today</h1>
  <div class="index-container">
    <div id="card-show" class=" col-6 half-index">
      <% @advices.each do |advice| %>
      <div class="card">
        <img class="card-img-top" src="<%= advice.link.photo_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= advice.link.title %></h5>
          <p class="card-text">Category: <%= advice.link.category %></p>
          <a href="<%= advice.link.url %>" class="btn btn-primary" target="_blank">Read more</a>
        </div>
      </div>
      <% end %>
    </div>

    <div id= "calendar-show" class=" col-4 half-index">
       <%= render 'days/calendar' %>
    </div>
  </div>
</div>






