<div class="background-index">
  <a name="up"></a>
  <div id="advices-show" class=" container-show">
    <h3 class="show-title"> Thank you for your trust in Pobuddy</h3>
    <% if @day.emotion.include?("anger" || "sadness" || "joy" || "fear" || "disgust") %>
      <div id="emotion-advice">
        <%= render 'emotions_advices/anger' if @day.emotion.include?("anger") %>
        <%= render 'emotions_advices/sadness' if @day.emotion.include?("sadness") %>
        <%= render 'emotions_advices/joy' if @day.emotion.include?("joy") %>
        <%= render 'emotions_advices/fear' if @day.emotion.include?("fear") %>
        <%= render 'emotions_advices/disgust' if @day.emotion.include?("disgust") %>
      </div>
    <% end %>
    <h3 class="show-title">Here are some articles that may interest you</h3>
    <div class="card-wrap ">
    <% @advices.each do |advice| %>
      <div class="card card-show">
        <img class="card-img-top" src="<%= advice.link.photo_url %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= advice.link.title %></h5>
          <p class="card-text">Category: <%= advice.link.category %></p>
          <a href="<%= advice.link.url %>" class="btn btn-primary" target="_blank">Read more</a>
        </div>
      </div>
    <% end %>
   </div>
   <h3 class="show-title">Your calendar</h3>
    <div id= "calendar-show" class="col-8 offset-2">
      <%= render 'days/calendar' %>
      <div id="woof-woof" class="col-3 offset-3">
       <% if @day.valid? %>
       <h3 class="title-highlight">Date: <%= @day.date %></h3>
        <p>Breast Pain: <%= @day.breast_pain %></p>
        <p>Head Pain: <%= @day.head_pain %></p>
        <p style="padding-left: 20px">Abdominal Pain: <%= @day.abdominal_pain %></p>
        <p>Bleeding: <%= @day.bleeding %></p>
        <p>Bad Mood: <%= @day.bad_mood %></p>
        <btn id="destroy-data"><%= link_to "Delete data for this day", day_path(@day), method: :delete, :style=>'background-color: #5B8E7D;''border-radius: 5px;''text-decoration: none;''color: white;''border-color: black;''border-width: 1px;''padding: 5px;' %></btn>
        <% end %>
      </div>
    </div>
    <div class=“arrow-down bounce explanation-arrow”>
     <a href="#up" id="down-arrow"><i class="fas fa-chevron-up"></i>
     </a>
    </div>
  </div>
</div>
