<div class="container-page">
  <div class="container-banner">
    <div class="row row-banner">
      <div class="col-sm-12 col-md-6 title-padding">
        <h1>Pobuddy</h1>
        <h3> <strong>A free period tracker!</strong></h3>
        <br>
        <a href="#" class="button">Discover how!</a>
      </div>

      <div class="sign-form col-sm-12 col-md-6">
        <h2>Log in</h2>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class:"btn btn-primary", id:"btn-color" %>
        </div>
      <% end %>

      <%= render "devise/shared/links", id:"link-color" %>
      </div>

    </div>
  </div>
  <div class="subtitle-display margin-bottom">
    <h2><em>Learn more about your body on our website, with articles about period:</em></h2>
    <div class="cards-display">
      <div class="card-trip">
          <%= image_tag "bubble-speak.png", alt: "alttext" %>
        <div class="card-trip-infos" id="padding-top-card-trip-infos">
          <div>
            <p>Let us know how you feel, by talking to us</p>
          </div>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "analyse-data.png", alt: "alttext", id:"img-size" %>
        <div class="card-trip-infos" id="padding-top-card-trip-infos" >
          <div >
            <p>We analyze what you said...</p>
          </div>
        </div>
      </div>

      <div class="card-trip">
        <%= image_tag "paper-plane2.png", alt: "alttext", id:"img-size" %>
        <div class="card-trip-infos" id="padding-top-card-trip-infos">
          <div>
            <p>We bring you quality advices !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


